<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mappers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.stacs.nav.drs.boot.dao.AppInfoDao">
	<!-- Result Map -->
	<resultMap id="baseResultMap" type="io.stacs.nav.drs.boot.dao.po.AppInfoPO">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="version" property="version" />
		<result column="context_path" property="contextPath" />
		<result column="status" property="status" />
		<result column="run_error" property="runError" />
		<result column="file_name" property="fileName" />
		<result column="icon" property="icon" />
		<result column="author" property="author" />
		<result column="remark" property="remark" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>
	<!-- app_info table all fields -->
	<sql id="baseColumnList">
		id,name,version,context_path,status,run_error,file_name,icon,author,remark,create_time,update_time
	</sql>
	<sql id="baseWhereClause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null">
				and id=#{id}
			</if>
			<if test="name != null and name != ''">
				and name=#{name}
			</if>
			<if test="version != null and version != ''">
				and version=#{version}
			</if>
			<if test="contextPath != null and contextPath != ''">
				and context_path=#{contextPath}
			</if>
			<if test="status != null and status != ''">
				and status=#{status}
			</if>
			<if test="runError != null and runError != ''">
				and run_error=#{runError}
			</if>
			<if test="fileName != null and fileName != ''">
				and file_name=#{fileName}
			</if>
			<if test="icon != null and icon != ''">
				and icon=#{icon}
			</if>
			<if test="author != null and author != ''">
				and author=#{author}
			</if>
			<if test="remark != null and remark != ''">
				and remark=#{remark}
			</if>
			<if test="createTime != null">
				and create_time=#{createTime}
			</if>
			<if test="updateTime != null">
				and update_time=#{updateTime}
			</if>
		</trim>
	</sql>
	<!-- save record -->
	<insert id="save" parameterType="Object">
		insert into
		app_info(id,name,version,context_path,status,run_error,file_name,icon,author,remark,create_time,update_time)
		values(#{id},#{name},#{version},#{contextPath},#{status},#{runError},#{fileName},#{icon},#{author},#{remark},now(),now())
	</insert>

	<!-- query by app name -->
	<select id="queryByAppName" resultMap="baseResultMap" parameterType="java.lang.String">
		SELECT
		<include refid="baseColumnList"/>
		FROM `app_info`
		WHERE
		`name` = #{name}
	</select>

	<!-- update status-->
	<update id="updateStatus">
		UPDATE `app_info`
		SET
		`status` = #{to},
		`run_error` = #{runError},
		`update_time`= now()
		WHERE
		`name` = #{name}
	</update>

	<!-- query all -->
	<select id="queryAll" resultMap="baseResultMap">
		SELECT
		<include refid="baseColumnList"/>
		FROM `app_info`
	</select>

	<!--unInstall-->
	<delete id="unInstall" parameterType="Object">
		delete from app_info where name=#{name}
	</delete>
</mapper>
