<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mappers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.stacs.nav.drs.service.dao.BlockCallbackDao">
    <!-- Result Map -->
    <resultMap id="baseResultMap" type="io.stacs.nav.drs.service.dao.po.BlockCallbackPO">
        <result column="id" property="id"/>
        <result column="block_height" property="blockHeight"/>
        <result column="block_data" property="blockData"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <!-- block_callback table all fields -->
    <sql id="baseColumnList">
		id,block_height,block_data,status,create_time,update_time
	</sql>
    <!-- 查询条件 -->
    <sql id="baseWhereClause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="blockHeight != null">
                and block_height=#{blockHeight}
            </if>
            <if test="blockData != null">
                and block_data=#{blockData}
            </if>
            <if test="status != null and status != ''">
                and status=#{status}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime}
            </if>
            <if test="updateTime != null">
                and update_time=#{updateTime}
            </if>
        </trim>
    </sql>
    <!-- 插入记录 -->
    <insert id="save" parameterType="Object">
		insert into
		block_callback(id,block_height,block_data,status,create_time,update_time)
		values(#{id},#{blockHeight},#{blockData},#{status},now(),now())
	</insert>

    <!-- queryByHeightAndStatus -->
    <select id="queryByHeightAndStatus" resultMap="baseResultMap" parameterType="Object">
        select
        <include refid="baseColumnList"/>
        from block_callback where block_height=#{height} and status=#{status}
    </select>
    <!-- maxHeight -->
    <select id="maxHeight" resultType="java.lang.Long" parameterType="Object">
		select block_height from block_callback where status='PROCESSED' order by block_height desc limit 1
	</select>

    <select id="initCallbackMinHeight" resultType="java.lang.Long">
        select block_height from block_callback where status='INIT' order by block_height asc limit 1
    </select>

    <!-- update status-->
    <update id="updateStatus">
        UPDATE `block_callback`
        SET
        `status` = #{to},
        `update_time`= now()
        WHERE
        `block_height` = #{height} and status=#{from}
    </update>

</mapper>
