<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.stacs.nav.drs.service.dao.ContractDao">
    <!-- Result Map -->
    <resultMap id="baseResultMap" type="io.stacs.nav.drs.service.dao.po.ContractPO">
        <result column="id" property="id"/>
        <result column="block_height" property="blockHeight"/>
        <result column="tx_id" property="txId"/>
        <result column="action_index" property="actionIndex"/>
        <result column="address" property="address"/>
        <result column="name" property="name"/>
        <result column="symbol" property="symbol"/>
        <result column="extension" property="extension"/>
        <result column="bd_code" property="bdCode"/>
        <result column="status" property="status"/>
        <result column="version" property="version"/>
        <result column="code" property="code"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="queryMap" type="io.stacs.nav.drs.api.model.ContractVO">
        <result column="id" property="id"/>
        <result column="block_height" property="blockHeight"/>
        <result column="tx_id" property="txId"/>
        <result column="action_index" property="actionIndex"/>
        <result column="address" property="address"/>
        <result column="name" property="name"/>
        <result column="symbol" property="symbol"/>
        <result column="extension" property="extension"/>
        <result column="bd_code" property="bdCode"/>
        <result column="status" property="status"/>
        <result column="version" property="version"/>
        <result column="code" property="code"/>
        <result column="create_time" property="createTime"/>
        <result column="bd_type" property="bdType"/>
    </resultMap>


    <!-- contract table all fields -->
    <sql id="baseColumnList">
        id, block_height, tx_id, action_index, address,`name`,symbol,extension, bd_code, status, version, code, create_time
    </sql>

    <sql id="queryList">
        c.id, block_height, tx_id, action_index, address,c.`name`,symbol,extension,
        bd_code, status, version, c.code, c.create_time, bd.bd_type as bd_type
    </sql>

    <!-- add -->
    <insert id="add">
        INSERT INTO contract (block_height, tx_id, action_index, address,`name`,symbol,extension, bd_code, status, version, code, create_time)
        VALUES (#{blockHeight}, #{txId}, #{actionIndex}, #{address},#{name},#{symbol},#{extension},#{bdCode},#{status}, #{version}, #{code}, #{createTime})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into contract (block_height, tx_id, action_index, address,`name`,symbol,extension, bd_code,
        status, version, code, create_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.blockHeight}, #{item.txId}, #{item.actionIndex},
            #{item.address},#{item.name},#{item.symbol},#{item.extension},
            #{item.bdCode},#{item.status}, #{item.version}, #{item.code}, #{item.createTime})
        </foreach>
    </insert>

    <!-- delete -->
    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM contract WHERE id=#{id}
    </delete>

    <!-- query by contract address -->
    <select id="queryByAddress" resultMap="baseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="baseColumnList"/>
        FROM contract WHERE address=#{address}
    </select>

    <!-- get query count -->
    <select id="getQueryCount" resultType="java.lang.Long">
        SELECT
        COUNT(1)
        FROM contract
        WHERE 1=1
        <if test="height != null">
            and block_height = #{height}
        </if>
        <if test="txId != null">
            and tx_id = #{txId}
        </if>
    </select>

    <!-- query list -->
    <select id="query" resultMap="baseResultMap">
        SELECT
        <include refid="baseColumnList"/>
        FROM contract
        WHERE 1=1
        <if test="height != null">
            and block_height = #{height}
        </if>
        <if test="txId != null and txId !=''">
            and tx_id = #{txId}
        </if>
        <if test="bdCode != null and bdCode !=''">
            and bd_code = #{bdCode}
        </if>
        <if test="name != null and name !=''">
            and name = #{name}
        </if>
        <if test="symbol != null and symbol !=''">
            and symbol = #{symbol}
        </if>
        <if test="status != null and status !=''">
            and status = #{status}
        </if>
        ORDER BY id DESC
        LIMIT #{startIndex}, #{endIndex}
    </select>

    <select id="queryByCond" resultMap="queryMap" parameterType="io.stacs.nav.drs.api.model.query.QueryContractVO">
        SELECT
        <include refid="queryList"/>
        FROM contract as c
        inner join `BUSINESS_DEFINE` as bd
        on bd.CODE = c.BD_CODE
        <where>
            <if test="cond.txId != null and cond.txId !=''">
                and tx_id = #{cond.txId}
            </if>
            <if test="cond.bdType != null and cond.bdType !=''">
                and bd_type = #{cond.bdType}
            </if>
            <if test="cond.name != null and cond.name !=''">
                and name = #{cond.name}
            </if>
            <if test="cond.symbol != null and cond.symbol !=''">
                and symbol = #{cond.symbol}
            </if>
            <if test="cond.status != null and cond.status !=''">
                and status = #{cond.status}
            </if>
        </where>
    </select>


    <!-- query by txId -->
    <select id="queryByTxId" resultMap="baseResultMap">
        SELECT
        <include refid="baseColumnList"/>
        FROM contract
        WHERE action_index = #{actionIndex} and tx_id = #{txId}
    </select>


</mapper>
