<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mappers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.stacs.nav.drs.service.dao.TxCallbackDao">
    <!-- Result Map -->
    <resultMap id="baseResultMap" type="io.stacs.nav.drs.service.dao.po.TxCallbackPO">
        <result column="id" property="id"/>
        <result column="block_height" property="blockHeight"/>
        <result column="tx_receipts" property="txReceipts"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <!-- tx_callback table all fields -->
    <sql id="baseColumnList">
		id,block_height,tx_receipts,status,create_time,update_time
	</sql>
    <!-- 查询条件 -->
    <sql id="baseWhereClause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="blockHeight != null">
                and block_height=#{blockHeight}
            </if>
            <if test="txReceipts != null">
                and tx_receipts=#{txReceipts}
            </if>
            <if test="status != null and status != ''">
                and status=#{status}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime}
            </if>
            <if test="updateTime != null">
                and update_time=#{updateTime}
            </if>
        </trim>
    </sql>
    <!-- 插入记录 -->
    <insert id="save" parameterType="Object">
		insert into
		tx_callback(id,block_height,tx_receipts,status,create_time,update_time)
		values(#{id},#{blockHeight},#{txReceipts},#{status},now(),now())
	</insert>

    <!-- queryByHeightAndStatus -->
    <select id="queryByHeightAndStatus" resultMap="baseResultMap" parameterType="Object">
        select
        <include refid="baseColumnList"/>
        from tx_callback where block_height=#{height} and status=#{status}
    </select>
    <!-- maxHeight -->
    <select id="maxHeight" resultType="java.lang.Long" parameterType="Object">
		select block_height from tx_callback where status='PROCESSED' order by block_height desc limit 1
	</select>

    <!-- update status-->
    <update id="updateStatus">
        UPDATE `tx_callback`
        SET
        `status` = #{to},
        `update_time`= now()
        WHERE
        `block_height` = #{height} and status=#{from}
    </update>

</mapper>
