<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mappers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.higgschain.trust.drs.service.dao.TxCallbackDao">
	<!-- Result Map -->
	<resultMap id="baseResultMap" type="com.higgschain.trust.drs.service.dao.po.TxCallbackPO">
		<result column="id" property="id" />
		<result column="block_height" property="blockHeight" />
		<result column="tx_receipts" property="txReceipts" />
		<result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>
	<!-- tx_callback table all fields -->
	<sql id="baseColumnList">
		id,block_height,tx_receipts,status,create_time,update_time
	</sql>
	<!-- 查询条件 -->
	<sql id="baseWhereClause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null">
				and id=#{id}
			</if>
			<if test="blockHeight != null">
				and block_height=#{blockHeight}
			</if>
			<if test="txReceipts != null">
				and tx_receipts=#{txReceipts}
			</if>
			<if test="status != null and status != ''">
				and status=#{status}
			</if>
			<if test="createTime != null">
				and create_time=#{createTime}
			</if>
			<if test="updateTime != null">
				and update_time=#{updateTime}
			</if>
		</trim>
	</sql>
	<!-- 插入记录 -->
	<insert id="save" parameterType="Object">
		insert into
		tx_callback(id,block_height,tx_receipts,status,create_time,update_time)
		values(#{id},#{blockHeight},#{txReceipts},#{status},now(),now())
	</insert>

	<!-- 根据 height 查询 -->
	<select id="queryByBlockHeight" resultMap="baseResultMap" parameterType="Object">
		select
		<include refid="baseColumnList" />
		from tx_callback where block_height=#{height}
	</select>




</mapper>
