<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试页面</title>
</head>
<body>
<div id="demo">
<h1 th:text="${newWorld}">Hello World</h1>
<h2>Dapp List</h2>
<ul>
    <!-- 这里Key是唯一的,类似于数据库中的主键 -->
    <li v-for="it in items" :key="it.name">
        {{it.name}}--{{it.version}}--{{it.status}}
    </li>
</ul>
<button @click="queryInstallList()">查询</button>
</div>
<img src="footer.png"/>
</body>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/axios.js"></script>
<script>
    let vm=new Vue({
        el: "#demo",
        data: {
            items:{
            }
        },
        methods:{
            queryInstallList(){
                this.$nextTick(function () {
                    var self = this;
                    axios.get('/dapp/installList')
                        .then(function(res){
                            self.items = res.data.data
                        })
                        .catch(function(err){
                            console.log(err);
                        })
                });
            }
        }
    });

</script>
</html>